@model MvcApplication2.Models.Programa

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Programa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nivel_formacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nivel_formacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.director_programa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.director_programa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modalidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modalidad)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
