@model IEnumerable<MvcApplication2.Models.Programa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivel_formacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.director_programa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modalidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivel_formacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.director_programa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modalidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.programaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.programaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.programaId })
        </td>
    </tr>
}

</table>
