@model IEnumerable<MvcApplication2.Models.IPS_ESE_Servicio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IPS_ESE.origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicio.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IPS_ESE.origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servicio.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IPS_ESE_ServicioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IPS_ESE_ServicioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IPS_ESE_ServicioId })
        </td>
    </tr>
}

</table>
