@model MvcApplication2.Models.Estudiante

@{
    ViewBag.Title = "BuscarEnDepartamento";
    Layout = "~/Views/Shared/_Layout.cshtml";}


<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Inicio", "VistaDepartamentoSalud/", "DepartamentoSalud")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hoja de Vida<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Estudiante", "BuscarEnDepartamento/", "Estudiante")</li>
                            <li>@Html.ActionLink("Docente", "BuscarEnDepartamento/", "Docente")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Listado estudiantes", "EstadoHVdepto/", "Estudiante")</li>
                            <li>@Html.ActionLink("Listado docentes", "EstadoHVdepto/", "Docente")</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("Rotación", "SeleccionRotacion/", "Rotacion")</li>
                    <li>@Html.ActionLink("Carta Presentación", "SeleccionRotacionCarta/", "IPS_ESE")</li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

                      

    


    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4" align="center">
                    <br />
                    <br />
                    <legend>Buscar Estudiante</legend>
                </div>
            </div>
        </div>
    </fieldset>



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)




    
     <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal" role="form">
            <fieldset>  
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.codigo, new { @class = "form-control" })
                        <span class="help-block">El criterio de búsqueda para los estudiantes es solo a través del código </span>
                    </div>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Buscar" />
               

                
            </fieldset>
        </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->



    }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}