@model MvcApplication2.Models.Estudiante

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
        <script>alert("@ViewBag.AlertMessage");</script>

    }
    <div class="container-fluid">

        <div class="container-page">
            <div class=" col-sm-2">
            </div>
            <div class=" col-sm-3">
                <br />
                <br />
                <img src="../../images/user3.jpg" height="300" width="275">

            </div>

            <div class="col-sm-4">
                <br />
                <br />

                <h2><p class="help-block">Cambiar contraseña</p></h2>
                <br />
                <p>
                    Una contraseña segura contribuye a evitar el acceso no autorizado a la hoja de vida.
                </p>
                <br />
                <strong> @Html.DisplayFor(model => model.HojaVida.correo) </strong>
                @Html.PasswordFor(model => model.clave, new { @class = "form-control", @placeholder = "Contraseña nueva" })
                @Html.ValidationMessageFor(model => model.clave)

                <p class="help-block">8 caracteres como mínimo, distingue mayúsculas de minúsculas</p>

                @Html.PasswordFor(model => model.tipo_documento, new { @class = "form-control", @placeholder = "Confirma la nueva la contraseña" })
                
                <p class="help-block"></p>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </div>





    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">
                © 2015 - Facultad de Ciencias para la Salud.
                <a href="http://www.ucaldas.edu.co/portal/" target="_blank">Universidad de Caldas</a>
                
            
                
                    <a class="inicio">@Html.ActionLink(" ", "Personales", new { id = @Model.estudianteId }, new { @class = "btn btn-sm btn-success btn-icon-only glyphicon glyphicon-home" }) </a>
                
            </p>
</div>


    </div>


    <div class="form-group">




        <div class="col-sm-4">

            @Html.HiddenFor(model => model.estudianteId)
            @Html.HiddenFor(model => model.hojaVidaId)
            @Html.HiddenFor(model => model.rotacionId)
            @Html.HiddenFor(model => model.programaId)
            @Html.HiddenFor(model => model.clave)
            @Html.HiddenFor(model => model.modalidad)


            @Html.HiddenFor(model => model.semestre)
            @Html.HiddenFor(model => model.estado_academico)


        </div>
    </div>

}
