@model IEnumerable<MvcApplication2.Models.Estudiante>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaODS/", "Rotacion")</li>
                    <li>@Html.ActionLink("Rotación", "Create/", "Rotacion")</li>
                    <li>@Html.ActionLink("Hojas de Vida", "VistaHV/", "HojaVida")</li>
                    <li>@Html.ActionLink("Carta Presentación", "ConsultaRotacion", "Rotacion")</li>
                    <li>@Html.ActionLink("Estudiante", "Buscar/", "Estudiante")</li>
                    <li>@Html.ActionLink("Docente", "Buscar/", "Docente")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


<h2 class="hv">Estudiantes</h2>
    
                      <h2 class="hv">@ViewBag.busqueda</h2>

@using (Html.BeginForm())
{

    <div class="row">
        <fosrm class="form-horizontal" role="form">

            <fieldset>
                <div class="col-sm-8">

                    

                    <div class="form-group">

                        <div class="col-lg-offset-1 col-sm-2 ">

                            Buscar por cédula: @Html.TextBox("Num_documento", "", new { @class = "form-control" })

                        </div>
                        <div class="col-sm-4">

                            Buscar por programa: @Html.DropDownList("programaId", (IEnumerable<SelectListItem>)ViewBag.Programas, new { @class = "form-control" })

                        </div>
                        <div class="col-lg-offset-1 col-sm-3">

                            Buscar por estado: @Html.DropDownList("Estado_HV", new List<SelectListItem>() { new SelectListItem { Text = "Desactualizada", Value = "False" }, new SelectListItem { Text = "Actualizada", Value = "True" } }, new { @class = "form-control" })
                        </div>
                        <div class="hv">

                            <br>

                            <input type="submit" value="Buscar" class="ui-button" />
                            
                        </div>
                    </div>
                        
                    
                </div>
            </fieldset>

        </fosrm>


</div>

}
<table class="table">

    <tr>

        <th>
            N.º Documento
        </th>
        <th>
            Código
        </th>



        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.hojaVidaId)

            @Html.HiddenFor(modelItem => item.estudianteId)
            @Html.HiddenFor(modelItem => item.programaId)


            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>





            <td>
                @Html.DisplayFor(modelItem => item.HojaVida.primer_nombre)
                @Html.DisplayFor(modelItem => item.HojaVida.segundo_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HojaVida.primer_apellido)
                @Html.DisplayFor(modelItem => item.HojaVida.segundo_apellido)
            </td>
            <td>
               
            </td>
        </tr>

    }

</table>
