@model MvcApplication2.Models.Estudiante



    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "VistaODS", "Rotacion")</li>
                        <li>@Html.ActionLink("Personales", "PersonalesDS/" + Model.estudianteId, "Estudiante")</li>
                        <li>@Html.ActionLink("Familiares", "FamiliaresDS/" + Model.estudianteId, "Estudiante")</li>
                        <li>@Html.ActionLink("Académicos", "AcademicosDS/" + Model.estudianteId, "Estudiante")</li>
                        <li>@Html.ActionLink("Vacunación", "CarnetVacunacionODS/" + Model.estudianteId, "Estudiante")</li>
                        <li>@Html.ActionLink("Salud", "SaludDS/" + Model.estudianteId, "Estudiante")</li>
                        <li>@Html.ActionLink("Reporte", "ReporteEstudianteA/" + Model.estudianteId, "Estudiante")</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

@*<legend>Datos Familiares</legend>*@
<div class="container">
    <div class="row">
        <fieldset>

            <div class="span7">
                <div class="widgetVacuna stacked widgetVacuna action-table">

                    <div class="widgetVacuna-headerVacuna">
                        <h2><i class="glyphicon-align-center glyphicon glyphicon-list"></i></h2>
                        <h4>Datos familiares</h4>
                    </div> <!-- /widget-header"> -->

                    <div class="widgetVacuna-contentVacuna">


                        <table class="tableVacuna  table-condensed table-striped table-bordered">

                            <thead>
                                <tr>
                                    <th>Parentesco</th>
                                    <th>Nombre</th>
                                    <th>Primer apellido</th>
                                    <th>Segundo apellido</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Padre</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_nombre_padre)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_apellido_padre)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.segundo_apellido_padre)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.direccion_padre)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.telefono_padre)</td>

                                </tr>



                                <tr>
                                    <td>Madre</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_nombre_madre)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_apellido_madre)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.segundo_apellido_madre)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.direccion_madre)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.telefono_madre)</td>
                                </tr>



                                <tr>
                                    <td>Acudiente</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_nombre_acudiente)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_apellido_acudiente)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.segundo_apellido_acudiente)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.direccion_acudiente)</td>
                                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.celular_acudiente)</td>
                                </tr>


                        </table>



                        <!-- Text input-->



                    </div>
                </div>
            </div>
        </fieldset>

    </div>
</div>


