@model MvcApplication2.Models.Estudiante
<script>
    $(document).ready(function () {
        $("#submitButton").on("click", function () {
            alert('Your Message');
        });

    });

</script>





@using (Html.BeginForm("LoginCC", "Estudiante", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <div class="row">
            <fieldset>
                <legend>login</legend>

                <!-- /.navbar-collapse aca va leyend -->


                <div class="col-sm-3">
                    
                    <img src="../../images/hotmail.png" >

                </div>


                <div class="col-sm-8">

                    <div class="row">

                        <!-- Text input-->

                        <form class="form-signin" action="" method="">

                            <div class="form-group">

                                <div class="col-md-4 col-md-offset-4">
                                    @Html.TextBoxFor(model => model.HojaVida.correo, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.correo)

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Clave</label>
                                <div class="col-md-4 col-md-offset-4">
                                    <label for="inputPassword3" class="col-sm-3 control-label">
                                        Password
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" required>

                                        
                                    </div>
                                <input type="submit" class="btn btn-lg btn-default btn-block" value="Iniciar sesión" />
                            </div>














































                            <div class="form-group">




                                <div class="col-sm-4">

                                    @Html.HiddenFor(model => model.estudianteId)
                                    @Html.HiddenFor(model => model.hojaVidaId)
                                    @Html.HiddenFor(model => model.rotacionId)
                                    @Html.HiddenFor(model => model.programaId)
                                    @Html.HiddenFor(model => model.clave)
                                    @Html.HiddenFor(model => model.modalidad)


                                    @Html.HiddenFor(model => model.semestre)
                                    @Html.HiddenFor(model => model.estado_academico)


                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-sm-4">


                                </div>
                            </div>



</div>

                </div><!-- /.row --> <!-- /. <div class="col-sm-8"info familia>row -->







            </fieldset>
        </div>
    </div>
}














