@model MvcApplication2.Models.Estudiante
<script>
    $(document).ready(function () {
        $("#submitButton").on("click", function () {
            alert('Your Message');
        });

    });

</script>


 

<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Personales", "PersonalesResidentes/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Documentos", "SoportesCompletosResidentes/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Académicos", "AcademicosResidentes/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Vacunación", "CarnetVacunacionResidentes/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Salud", "SaludResidentes/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Reporte", "ReporteEstudianteA/" + Model.estudianteId, "Estudiante", new { target = "_blank" })</li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Cuenta</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cambiar contraseña", "LoginCC/" + Model.estudianteId, "Estudiante")</li>
                            

                        </ul>
                    </li>

</ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

@using (Html.BeginForm("PersonalesResidentes", "Estudiante", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container">
    <div class="row">
        <fieldset>
    <legend>Información personal estudiante</legend>

    <!-- /.navbar-collapse aca va leyend -->


    <div class="col-sm-3">
        <img src="@Url.Content(Model.HojaVida.imagen_DI)" alt="..." class="img-rounded" height="200px" width="150px"><br />

    </div>

    <div class="col-sm-8">

        <div class="row">

            <!-- Text input-->

            <fosrm class="form-horizontal" role="form">


                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipo documento</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.tipo_documento, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.tipo_documento)

                    </div>

                    <label class="col-sm-2 control-label">Número</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.num_documento, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.HojaVida.primer_nombre)
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">Código </label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.HojaVida.primer_apellido)
                    </div>

                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.primer_nombre, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.HojaVida.primer_nombre)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Primer apellido</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.primer_apellido, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.HojaVida.primer_apellido)
                    </div>

                    <label class="col-sm-2 control-label">Segundo apellido</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.segundo_apellido, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.HojaVida.segundo_apellido)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Correo Institucional</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.correo, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.HojaVida.correo)
                    </div>

                    <label class="col-sm-2 control-label">Genero</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("HojaVida.genero", new List<SelectListItem>() { new SelectListItem { Text = "M", Value = "M" }, new SelectListItem { Text = "F", Value = "F" } }, new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Fecha de nacimiento</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.fecha_nacimiento, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.HojaVida.fecha_nacimiento)
                    </div>
                    <label class="col-sm-2 control-label">Edad</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.barrio_procedencia, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.barrio_procedencia)

                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Lugar de nacimiento</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.municipio_procedencia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.municipio_procedencia)
                        <p class="help-block">Por favor agregue Departamento y Municipio</p>
                    </div>
                    <label class="col-sm-2 control-label">Dirección procedencia</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.direccion_procedencia, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.direccion_procedencia)
                    </div>


                </div>






                <div class="form-group">
                    <label class="col-sm-2 control-label">Dirección Manizales</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.direccion_manizales, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.direccion_manizales)
                    </div>
                    <label class="col-sm-2 control-label">RH</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("HojaVida.hemoclasificacion", new List<SelectListItem>() { new SelectListItem { Text = "Sin Asignar", Value = "Sin Asignar" }, new SelectListItem { Text = "AB+", Value = "AB+" }, new SelectListItem { Text = "AB-", Value = "AB-" }, new SelectListItem { Text = "A+", Value = "A+" }, new SelectListItem { Text = "A-", Value = "A-" }, new SelectListItem { Text = "B+", Value = "B+" }, new SelectListItem { Text = "B-", Value = "B-" }, new SelectListItem { Text = "O+", Value = "O+" }, new SelectListItem { Text = "O-", Value = "O-" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.hemoclasificacion)
                    </div>

                </div>



                <div class="form-group">
                    <label class="col-sm-2 control-label">Teléfono procedencia</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.num_telefono, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.num_telefono)
                    </div>
                    <label class="col-sm-2 control-label">Celular</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.num_celular, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.num_celular)
                    </div>
                </div>




                <div class="form-group">
                    <label class="col-sm-2 control-label">Estado civil</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("HojaVida.estado_civil", new List<SelectListItem>() { new SelectListItem { Text = "Sin Asignar", Value = "Sin Asignar" }, new SelectListItem { Text = "Soltero/a", Value = "Soltero/a" }, new SelectListItem { Text = "Casado/a", Value = "Casado/a" }, new SelectListItem { Text = "Divorciado/a", Value = "Divorciado/a" }, new SelectListItem { Text = "Viudo/a", Value = "Viudo/a" }, new SelectListItem { Text = "Unión Libre", Value = "Unión Libre" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.estado_civil)



                    </div>
                    <label class="col-sm-2 control-label">n.º Hijos</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("HojaVida.hijos", new List<SelectListItem>() { new SelectListItem { Text = "0", Value = "0" }, new SelectListItem { Text = "1", Value = "1" }, new SelectListItem { Text = "2", Value = "2" }, new SelectListItem { Text = "3", Value = "3" }, new SelectListItem { Text = "4", Value = "4" } }, new { @class = "form-control" })
                    </div>
                </div>

















                <div class="form-group">




                    <div class="col-sm-4">

                        @Html.HiddenFor(model => model.estudianteId)
                        @Html.HiddenFor(model => model.hojaVidaId)
                        @Html.HiddenFor(model => model.rotacionId)
                        @Html.HiddenFor(model => model.programaId)
                        @Html.HiddenFor(model => model.clave)
                        @Html.HiddenFor(model => model.modalidad)


                        @Html.HiddenFor(model => model.semestre)
                        @Html.HiddenFor(model => model.estado_academico)


                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-4">


                    </div>
                </div>



</div>

    </div><!-- /.row --> <!-- /. <div class="col-sm-8"info familia>row -->

    <legend>Datos de contacto en caso de emergencia:</legend>

    <div class="col-sm-3">

    </div>


    <div class="col-sm-8">
        <div class="row">
            <fdorm class="form-horizontal" role="form">



                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>

                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.Familia.primer_nombre_acudiente, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_nombre_acudiente)
                    </div>

                    <label class="col-sm-2 control-label">Primer apellido</label>

                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.Familia.primer_apellido_acudiente, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_apellido_acudiente)
                    </div>
                </div>

                <div class="form-group">
                    
                    <label class="col-sm-2 control-label">Segundo apellido</label>

                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.Familia.segundo_apellido_acudiente, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.Familia.segundo_apellido_acudiente)
                    </div>
                    <label class="col-sm-2 control-label">Teléfono</label>

                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.Familia.telefono_acudiente, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.Familia.telefono_acudiente)
                    </div>

                </div>


                <div class="form-group">
                  
                    <label class="col-sm-2 control-label">Dirección</label>

                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.Familia.direccion_acudiente, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.Familia.direccion_acudiente)
                    </div>

                    <label class="col-sm-2 control-label">Celular </label>

                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.HojaVida.Familia.celular_acudiente, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HojaVida.Familia.celular_acudiente)
                    </div>

                </div>
            </fdorm>

        </div><!-- /. <div class="row""info familia>row -->

    </div><!-- /. <div class="col-sm-8"info familia>row -->



    <legend>Cargar documentos (jpg,png)</legend>

    <div class="col-sm-3">

    </div>


    <div class="col-sm-8">
        <div class="row">










            <div class="form-group">


                <table class="tableDocumentos table-condensed table-striped">

                    <tr>
                        <th>Tipo documento</th>
                        <th></th>
                        <th>Archivo</th>
                        <th>Obligatorio</th>
                    </tr>
                    <tr>
                        <td class="tdDocumentos">Documento de identidad</td>

                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">
                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen1 })'>
                                <img src=@ViewBag.imagen1 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>Si</strong></td>
                    </tr>


                    <tr>
                        <td class="tdDocumentos">Carné Liberty Seguros</td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">
                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen2 })'>
                                <img src=@ViewBag.imagen2 class="img-rounded" height="75" width="75" />
                            </a>

                        </td>
                        <td align="center"><strong>Si</strong></td>

                    </tr>
                    <tr>
                        <td class="tdDocumentos">Carné estudiantil</td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen3 })'>
                                <img src=@ViewBag.imagen3 class="img-rounded" height="75" width="75" />
                            </a>
                            </td>
                        <td align="center"><strong>Si</strong></td>
                    </tr>
                    <tr>

                        <td class="tdDocumentos">Carné EPS</td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">
                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen4 })'>
                                <img src=@ViewBag.imagen4 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>Si</strong></td>
                    </tr>
                    <tr>
                        <td class="tdDocumentos">Carné ARL</td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen5 })'>
                                <img src=@ViewBag.imagen5 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>No</strong></td>
                    </tr>

                    <tr>
                        <td class="tdDocumentos">Carné vacunación 1</td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen6 })'>
                                <img src=@ViewBag.imagen6 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>Si</strong></td>
                    </tr>
                    <tr>
                        <td class="tdDocumentos">Carné vacunación 2</td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen7 })'>
                                <img src=@ViewBag.imagen7 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>No</strong></td>
                    </tr>
                    <tr>
                        <td class="tdDocumentos">Anticuerpos contra varicela </td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen8 })'>
                                <img src=@ViewBag.imagen8 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>No</strong></td>
                    </tr>
                    <tr>
                        <td class="tdDocumentos">Anticuerpos contra hepatitis B </td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen9 })'>
                                <img src=@ViewBag.imagen9 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>No</strong></td>
                    </tr>


                    <tr>
                        <td class="tdDocumentos">Diploma de profesional </td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen10 })'>
                                <img src=@ViewBag.imagen10 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>No</strong></td>
                    </tr>

                    <tr>
                        <td class="tdDocumentos">Tarjeta de profesional</td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen11 })'>
                                <img src=@ViewBag.imagen11 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>No</strong></td>
                    </tr>


                    <tr>
                        <td class="tdDocumentos">Acta de grado</td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen12 })'>
                                <img src=@ViewBag.imagen12 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>No</strong></td>
                    </tr>

                    <tr>
                        <td class="tdDocumentos">Curso RCP : Básico </td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen13 })'>
                                <img src=@ViewBag.imagen13 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>No</strong></td>
                    </tr>

                    <tr>
                        <td class="tdDocumentos">Curso RCP : Avanzado </td>
                        <td>
                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                        </td>
                        <td>
                            <a href='@Url.Action("SoporteResidente", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen14 })'>
                                <img src=@ViewBag.imagen14 class="img-rounded" height="75" width="75" />
                            </a>
                        </td>
                        <td align="center"><strong>No</strong></td>
                    </tr>
                </table>

            </div>




            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>















            

            </div><!-- /. <div class="row""info familia>row -->

        </div><!-- /. <div class="col-sm-8"info familia>row -->





    </fieldset>
    </div>
</div> 
}   
    
    












