@model MvcApplication2.Models.Estudiante
<script>
    $(document).ready(function () {
        $("#submitButton").on("click", function () {
            alert('Your Message');
        });

    });

</script>




<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaODS", "Rotacion")</li>
                    <li>@Html.ActionLink("Personales", "PersonalesDS/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Familiares", "FamiliaresDS/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Académicos", "AcademicosDS/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Vacunación", "CarnetVacunacionODS/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Salud", "SaludDS/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Reporte", "ReporteEstudianteA/" + Model.estudianteId, "Estudiante")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

@using (Html.BeginForm("SolicitarActualizacion", "Estudiante", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <div class="row">
            <fieldset>
                <legend>Información personal estudiante</legend>

                <!-- /.navbar-collapse aca va leyend -->


                <div class="col-sm-3">
                    <img src="@Url.Content(Model.HojaVida.imagen_DI)" alt="..." class="img-rounded" height="200px" width="150px"><br />

                </div>

                <div class="col-sm-8">

                    <div class="row">

                        <!-- Text input-->

                        <fosrm class="form-horizontal" role="form">


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tipo documento</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.tipo_documento, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.tipo_documento)

                                </div>

                                <label class="col-sm-2 control-label">Número</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.num_documento, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.primer_nombre)
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Código </label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.primer_apellido)
                                </div>

                                <label class="col-sm-2 control-label">Nombre</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.primer_nombre, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.primer_nombre)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Primer apellido</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.primer_apellido, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.primer_apellido)
                                </div>

                                <label class="col-sm-2 control-label">Segundo apellido</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.segundo_apellido, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.segundo_apellido)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Correo</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.correo, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.correo)
                                </div>

                                <label class="col-sm-2 control-label">Género</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.genero, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.genero)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Fecha de nacimiento</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.fecha_nacimiento, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.fecha_nacimiento)
                                </div>
                                <label class="col-sm-2 control-label">Edad</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.barrio_procedencia, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.barrio_procedencia)

                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Lugar nacimiento</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.municipio_procedencia, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.municipio_procedencia)
                                </div>
                                <label class="col-sm-2 control-label">Dirección procedencia</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.direccion_procedencia, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.direccion_procedencia)
                                </div>


                            </div>






                            <div class="form-group">
                                <label class="col-sm-2 control-label">Dirección Manizales</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.direccion_manizales, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.direccion_manizales)
                                </div>
                                <label class="col-sm-2 control-label">RH</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.hemoclasificacion, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.hemoclasificacion)
                                </div>

                            </div>



                            <div class="form-group">
                                <label class="col-sm-2 control-label">Teléfono procedencia</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.num_telefono, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.num_telefono)
                                </div>
                                <label class="col-sm-2 control-label">Celular</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.num_celular, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.num_celular)
                                </div>
                            </div>




                            <div class="form-group">
                                <label class="col-sm-2 control-label">Estado civil</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.estado_civil, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.estado_civil)



                                </div>
                                <label class="col-sm-2 control-label">n.º Hijos</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.hijos, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.hijos)
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Estado </label>


                                @if (ViewBag.estado)
                                {
                                    <button type="submit" class="alert-info">Actualizada</button>

                                }

                                else
                                {
                                    <button type="submit" class="alert-danger">Solicitar Actualizacion</button>


                                }


                            </div>




                            <div class="form-group">




                                <div class="col-sm-4">

                                    @Html.HiddenFor(model => model.estudianteId)
                                    @Html.HiddenFor(model => model.hojaVidaId)
                                    @Html.HiddenFor(model => model.rotacionId)
                                    @Html.HiddenFor(model => model.programaId)
                                    @Html.HiddenFor(model => model.clave)
                                    @Html.HiddenFor(model => model.modalidad)


                                    @Html.HiddenFor(model => model.semestre)
                                    @Html.HiddenFor(model => model.estado_academico)





                                </div>
                            </div>





                    </div>

                </div><!-- /.row -->
            </fieldset>
        </div>
    </div>
}





@using (Html.BeginForm("PersonalesDS", "Estudiante", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.estudianteId)
    @Html.HiddenFor(model => model.hojaVidaId)


    <div class="container">


        <div class="row">

            <fieldset>
                <legend>Documento</legend>
                <div class="col-sm-3">

                </div>

                <div class="col-sm-8">
                    <div class="row">
                        <fdorm class="form-horizontal" role="form">



                            <div class="form-group">

                                <br>

                                <br>
                                <br>
                                <table>
                                    <tr>
                                        <td>
                                            <div class="col-sm-4">
                                                <a href='@Url.Action("SoporteDS", "Estudiante", new { id = @Model.estudianteId, imagen = @ViewBag.imagen})'>
                                                    <img src=@ViewBag.imagen class="img-rounded" height="120" width="200" />
                                                </a>

                                            </div>
                                        </td>
                                        <td>
                                            <label for="InputFile">Documento de identidad (jpg,png)</label>
                                            <!--<input type="file" id=""name="UploadedFile" />-->
                                            <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">
                                            <input type="hidden" value=@Model.estudianteId name="idEstudiante" />
                                        </td>

                                    </tr>
                                    <tr></tr>
                                </table>

                            </div>




                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="pull-right">
                                        @if (!User.IsInRole("Departamento"))
                                        {
                                            @Html.ActionLink("Regresar ", "Buscar", new { }, new { @class = "btn btn-default" })
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        }

                                    </div>
                                </div>
                            </div>



                        </fdorm>

                    </div><!-- /.row -->
                </div>
        </div><!-- /.row -->
    </div>





}





