@model IEnumerable<MvcApplication2.Models.Estudiante>

@{
    ViewBag.Title = "Index";
}



<h2>Generar Hoja de Vida Estudiantes</h2>

@using (Html.BeginForm())
{


    <p>
        Buscar por Codigo: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table">
   
    <tr>
       
        <th>
           Num Documento
        </th>
        <th>
         Codigo
        </th>
       
     
       
        <th>
           Nombres
        </th>
        <th>
          Apellidos
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.hojaVidaId)

            @Html.HiddenFor(modelItem => item.estudianteId)
            @Html.HiddenFor(modelItem => item.programaId)

         
            <td>
                @Html.DisplayFor(modelItem => item.num_documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
           
           
           
        
          
            <td>
                @Html.DisplayFor(modelItem => item.HojaVida.primer_nombre)
                @Html.DisplayFor(modelItem => item.HojaVida.segundo_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HojaVida.primer_apellido)
                @Html.DisplayFor(modelItem => item.HojaVida.segundo_apellido)
            </td>
            <td>
                @Html.ActionLink("Generar", actionName: "ReporteEstudianteA",
    controllerName: "Estudiante",
    routeValues: new
    {
        id = item.estudianteId,
        rotacion =@ViewBag.id
        
    },
    htmlAttributes: null
)                                 
               
            </td>
        </tr>

    }

</table>
