@model MvcApplication2.Models.Rotacion

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Inicio", "VistaDepartamentoSalud/", "DepartamentoSalud")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hoja de Vida<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Estudiante", "BuscarEnDepartamento/", "Estudiante")</li>
                            <li>@Html.ActionLink("Docente", "BuscarEnDepartamento/", "Docente")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Listado estudiantes", "EstadoHVdepto/", "Estudiante")</li>
                            <li>@Html.ActionLink("Listado docentes", "EstadoHVdepto/", "Docente")</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("Rotación", "SeleccionRotacion/", "Rotacion")</li>
                    <li>@Html.ActionLink("Carta Presentación", "SeleccionRotacionCarta/", "IPS_ESE")</li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>


        @Html.HiddenFor(model => model.rotacionId)
        @Html.HiddenFor(model => model.IPS_ESEId)
        @Html.HiddenFor(model => model.actividadacademicaId)
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="well well-sm">
                        <fosrm class="form-horizontal" action="" method="post">
                            <fieldset>
                                <legend class="text-center">Editar fecha rotación</legend>

                                <!-- Name input-->
                                <div class="form-group">
                                    <label class="col-md-5 control-label" for="name">Fecha Inicio</label>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.fecha_inicio)
                                        @Html.ValidationMessageFor(model => model.fecha_inicio)





                                    </div>
                                </div>

                                <!-- Email input-->
                                <div class="form-group">
                                    <label class="col-md-5 control-label" for="email">Fecha Terminación</label>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.fecha_terminacion)
                                        @Html.ValidationMessageFor(model => model.fecha_terminacion)
                                    </div>
                                </div>

                                <!-- Message body -->
                                <div class="form-group">
                                    <label class="col-md-5 control-label" for="message">Estudiantes</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.numero_estudiantes, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.numero_estudiantes)
                                    </div>
                                </div>

                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-8 text-right">
                                        @Html.ActionLink("Regresar ", "SeleccionRotacion", new { }, new { @class = "btn btn-default" })
                                        <input type="submit" class="btn btn-primary" value=" Guardar" />
                                    </div>
                                </div>
                            </fieldset>
                        </fosrm>
                    </div>
                </div>
                
            </div>

        </div>


    </fieldset>
}

<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
