@model IEnumerable<MvcApplication2.Models.Rotacion>

@{
    ViewBag.Title = "Rotacion";
}
<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Inicio", "VistaDepartamentoSalud/", "DepartamentoSalud")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hoja de Vida<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Estudiante", "BuscarEnDepartamento/", "Estudiante")</li>
                            <li>@Html.ActionLink("Docente", "BuscarEnDepartamento/", "Docente")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Listado estudiantes", "EstadoHVdepto/", "Estudiante")</li>
                            <li>@Html.ActionLink("Listado docentes", "EstadoHVdepto/", "Docente")</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("Rotación", "SeleccionRotacion/", "Rotacion")</li>
                    <li>@Html.ActionLink("Carta Presentación", "SeleccionRotacionCarta/", "IPS_ESE")</li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>



@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <div class="ens">
        <p class=" help-block">
            <table></table>  Rotaciones - Buscar por Nombre:
        </p>
    </div>

    <div class="col-md-4">
        @Html.TextBox("SearchString", ViewBag.SearchFilter as string, new { @class = "form-control", onclick = "keystroke()", id = "search" })

    </div>
    <div class="col-md-6">
        <input type="submit" class="btn btn-primary" value="Buscar" />
    </div>


}



<div class="span7">
    <div class="widget stacked widget-table action-table">

        <div class="widget-header">
            <h4><i class="glyphicon-align-center glyphicon glyphicon-list"></i></h4>
            <h3>Tabla Rotaciones</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>

                        <th>
                            Nombre
                        </th>
                        <th>
                            Inicia
                        </th>
                        <th>
                            Termina
                        </th>
                        <th>
                            Cupos 
                        </th>
                        <th>
                            Inscritos
                        </th>

                        <th>
                            Periodo
                        </th>
                        <th>
                            IPS/ESE
                        </th>
                        <th>
                            Departamento
                        </th>
                        <th>
                            Grupo
                        </th>
                        <th class="td-actions  text-center">Acción</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.ActividadAcademica.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha_inicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha_terminacion)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ActividadAcademica.max_estudiantes_rotacion)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.numero_estudiantes)
                            </td>



                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.periodo_academico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IPS_ESE.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActividadAcademica.DepartamentoSalud.nombre)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.grupo)
                            </td>
                            <td class="text-center">
                                @Html.ActionLink(" ", "../RotacionEstudiante/Index", new { id = item.rotacionId }, new { @class = "btn btn-sm btn-default btn-icon-only glyphicon glyphicon-ok" })
                                @Html.ActionLink(" ", "Edit", new { id = item.rotacionId }, new { @class = "btn btn-sm btn-success btn-icon-only glyphicon glyphicon-pencil" })


                            </td>
                        </tr>

                    }
                </tbody>
            </table>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div>


