@model MvcApplication2.Models.Curso

@{
    ViewBag.Title = "Delete";
}

<div class="container" align="center">
    <div class="col-md-8 col-md-offset-2">
        <br>
        <div class="alert alert-danger">¿Está seguro que desea eliminar este elemento de la base de datos?</div>
        <br>
            <legend class="text-center">Portafolio de servicios</legend>
</div>
</div>

    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()


    <div class="container" align="center">
        <div class="col-md-8 col-md-offset-2">

            <fosrm class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        @Html.TextBoxFor(model => model.tipo, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.tipo)
                    </div>
                </div>
        </div>
    </div>
        <div class="container" align="center">
            <div class="col-md-8 col-md-offset-2">

                <fosrm class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", @readonly = "readonly"  })
                            @Html.ValidationMessageFor(model => model.nombre)
                        </div>
                    </div>
                    </div>
                    </div>

    <div class="container" align="center">
        <div class="col-md-8 col-md-offset-2">

            <fosrm class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        @Html.TextBoxFor(model => model.IPS_ESE.nombre, new { @class = "form-control", @readonly = "readonly"  })
                        @Html.ValidationMessageFor(model => model.IPS_ESE.nombre)
                    </div>
                </div>
        </div>
    </div>



                    <div class="col-md-10 col-md-offset-5">
                        <p>
                            @Html.ActionLink("Regresar ", "Index", new { }, new { @class = "btn btn-default" })
                            <input type="submit" class="btn btn-primary" value=" Eliminar" /> 
                            
                        </p>
                    </div>
                    }

