@model MvcApplication2.Models.Curso

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-xs-11">
            <div class="invoice-title btnlegend">
                <h2 btnlegend>@Html.DisplayFor(model => model.tipo)</h2><h3 class="pull-right">Id: @Html.DisplayFor(model => model.CursoId)</h3>
            </div>
            <hr class="btnleg">
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Nombre:</strong> @Html.DisplayFor(model => model.nombre)<br>
                        <strong>Fecha creado:</strong>@Html.DisplayFor(model => model.fechaCreacion)<br>
                        <strong>Fecha inicio:</strong>@Html.DisplayFor(model => model.fechaInicio)<br>
                        <strong>Fecha fin:</strong>@Html.DisplayFor(model => model.fechaFin)<br>
                        <strong>Período académico:</strong>@Html.DisplayFor(model => model.periodoAcademico)<br>
                        <strong></strong><br>
                        <strong>Lugar:</strong>@Html.DisplayFor(model => model.lugar)<br>
                        <strong>Duración:</strong>@Html.DisplayFor(model => model.duracion)<br>
                        <strong>Observación:</strong>@Html.DisplayFor(model => model.observaciones)<br>
                        
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Dirigido a:</strong><br>
                        @Html.DisplayFor(model => model.dirigido)<br>
                        <strong>Otro:</strong><br>
                        @Html.DisplayFor(model => model.dirigidoOtro)<br>
                        <strong>Cupos:</strong>
                        @Html.DisplayFor(model => model.cupos)<br>
                        <strong>Asignados:</strong>
                        @Html.DisplayFor(model => model.asignados)<br />
                        <strong>Departamento:</strong>
                        @Html.DisplayFor(model => model.depto)
                    </address>
                </div>
            </div>
            
        </div>
    </div>


    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-defaultD">
                <div class="panel-heading">
                    <h3 class="class=" invoice-title"><strong>@Html.DisplayFor(model => model.IPS_ESE.nombre)</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table-bordered table-condensed ">
                            <thead>
                                <tr>
                                    <td class="text-center"><strong>Valor</strong></td>
                                    <td class="text-center"><strong>% Persona</strong></td>
                                    <td class="text-center"><strong>Valor unitario persona</strong></td>
                                    <td class="text-center"><strong>Valor total personas</strong></td>
                                    <td class="text-center"><strong>% Universidad</strong></td>
                                    <td class="text-center"><strong>Valor nitario Universidad</strong></td>
                                    <td class="text-center"><strong>Valor total Universidad</strong></td>
                                    <td class="text-center"><strong>Totales</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <tr>
                                    <td>@Html.DisplayFor(model => model.valorParticipante)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.porcentajeTotalPersona)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.valorUnitarioPersona)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.valorTotalPersona)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.porcentajeTotalUniversidad)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.valorUnitarioUniversidad)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.valorTotalUniversidad)</td>
                                    <td class="text-right"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-right"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-center"></td>
                                    <td class="thick-line text-center"><strong>Contraprestación</strong></td>
                                    <td class="thick-line text-right"><strong>$@Html.DisplayFor(model => model.totalContraprestacion)</strong></td>

                                </tr>
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center"><strong>Total</strong></td>
                                    <td class="thick-line text-right"><strong>$@Html.DisplayFor(model => model.totalCapacitacion)</strong></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("Regresar ", "Index", new { }, new { @class = "btn btn-primary btndetail" })