@model MvcApplication2.Models.Curso

@{
    ViewBag.Title = "Edit";
}



<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaContraprestacion/", "Curso")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Portafolio de servicios<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Curso")</li>
                            <li>@Html.ActionLink("Crear", "Create/", "Curso")</li>


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inducción<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Induccion")</li>
                            <li>@Html.ActionLink("Crear", "Create/", "Induccion")</li>


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inventario<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Equipo")</li>
                            <li>@Html.ActionLink("Crear", "Equipo/", "Equipo")</li>


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Informes<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Portafolio de servicios </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" @Html.ActionLink("Período académico", "SeleccionRotacionContraPrestacionPeriodoCurso/", "IPS_ESE")</a></li>
                                    <li><a tabindex="-1" @Html.ActionLink("Mes y año", "SeleccionRotacionContraPrestacionC/", "IPS_ESE")</a></li>

                                </ul>
                            </li>
                            <li>@Html.ActionLink("Inducciones", "SeleccionRotacionContraPrestacionI/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inventario", "SeleccionRotacionContraPrestacionE/", "IPS_ESE")</li>



                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(model => model.CursoId)
        @Html.HiddenFor(model => model.fechaCreacion)


        <div class="col-md-8 col-md-offset-2">
            <div class="well well-sm">
                <legend class="text-center">Portafolio de servicios - Nuevo registro</legend>


                <fosrm class="form-horizontal" action="" method="post">

                    

                    <div class="form-group">


                        <label class="col-sm-2 control-label">Tipo</label>
                        <div class="col-sm-8">

                            @using (Html.BeginForm())
                            {
                                @Html.DropDownList("tipo", ViewData["country"] as List<SelectListItem>, new { @class = "form-control" })
                            }

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("nombre", new SelectList(string.Empty, "Value", "Text"), "Nombre", new { @class = "form-control" })


                        </div>
                    </div>






                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha inicio</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.fechaInicio)
                            @Html.ValidationMessageFor(model => model.fechaInicio)


                        </div>
                        <label class="col-sm-2 control-label">Fecha fin</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.fechaFin)
                            @Html.ValidationMessageFor(model => model.fechaFin)
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Departamento</label>
                        <div class="col-sm-4">
                            @Html.DropDownList("depto", new List<SelectListItem>() { new SelectListItem { Text = "Sin asignar", Value = "Sin asignar" }, new SelectListItem { Text = "Materno Infantil", Value = "Materno Infantil" }, new SelectListItem { Text = "Salud Pública", Value = "Salud Pública" }, new SelectListItem { Text = "Acción Física Humana", Value = "Acción Física Humana" }, new SelectListItem { Text = "Salud mental y comportamiento humano", Value = "Salud mental y comportamiento humano" }, new SelectListItem { Text = "Clínico", Value = "Clínico" }, new SelectListItem { Text = "Ciencias Básicas para la Salud", Value = "Ciencias Básicas para la Salud" }, new SelectListItem { Text = "Quirurgico", Value = "Quirurgico" } }, new { @class = "form-control" })


                        </div>
                        <label class="col-sm-2 control-label">Período</label>
                        <div class="col-sm-4">
                            @Html.DropDownList("periodoAcademico", new List<SelectListItem>() { new SelectListItem { Text = "20151", Value = "20151" }, new SelectListItem { Text = "20152", Value = "20152" }, new SelectListItem { Text = "20161", Value = "20161" }, new SelectListItem { Text = "20162", Value = "20162" } }, new { @class = "form-control" })

                        </div>
                    </div>



                    <div class="form-group">

                        <label class="col-sm-2 control-label">Lugar</label>
                        <div class="col-sm-4">
                            @Html.TextAreaFor(model => model.lugar, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.lugar)
                        </div>
                        <label class="col-sm-2 control-label">Observaciones</label>
                        <div class="col-sm-4">
                            @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.observaciones)
                        </div>
                    </div>



                    <div class="form-group">

                        <label class="col-sm-2 control-label">Costo</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                @Html.TextBoxFor(model => model.valorParticipante, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.valorParticipante)
                                <div class="input-group-addon">.00</div>
                            </div>
                        </div>
                        <label class="col-sm-2 control-label">Duración (horas)</label>
                        <div class="col-sm-4">
                            @Html.TextAreaFor(model => model.duracion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.duracion)
                        </div>
                    </div>


                    <div class="form-group">

                        <label class="col-sm-2 control-label">Valor asumido por persona</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                @Html.TextBoxFor(model => model.valorUnitarioPersona, new { @class = "form-control" })
                                <div class="input-group-addon">.00</div>
                            </div>
                            @Html.ValidationMessageFor(model => model.valorUnitarioPersona)


                        </div>

                        <label class="col-sm-2 control-label">Valor asumido por Universidad</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                @Html.TextBoxFor(model => model.valorUnitarioUniversidad, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.valorUnitarioUniversidad)
                                <div class="input-group-addon">.00</div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dirigido a</label>
                        <div class="col-sm-4">
                            @Html.DropDownList("dirigido", new List<SelectListItem>() { new SelectListItem { Text = "Estudiante", Value = "Estudiante" }, new SelectListItem { Text = "Medico/a", Value = "Medico/a" }, new SelectListItem { Text = "Enfermero/a", Value = "Enfermero/a" }, new SelectListItem { Text = "Aux.Enfermeria", Value = "Aux.Enfermeria" }, new SelectListItem { Text = "Medico/a y Enfermero/a", Value = "Medico/a y Enfermero/a" }, new SelectListItem { Text = "Especialista", Value = "Especialista" }, new SelectListItem { Text = "Profesionales y estudiantes de Medicina", Value = "Profesionales y estudiantes de Medicina" }, new SelectListItem { Text = "Profesionales, estudiantes de Enfermería y Medicina ", Value = "Profesionales, estudiantes de Enfermería y Medicina " }, new SelectListItem { Text = "Auxiliares de enfermería ", Value = "Auxiliares de enfermería " }, new SelectListItem { Text = "Profesionales de la salud ", Value = "Profesionales de la salud " }, new SelectListItem { Text = "Médicos Internistas - Nefrólogos", Value = "Médicos Internistas - Nefrólogos" }, new SelectListItem { Text = "Profesionales Médicos y de Enfermería ", Value = "Profesionales Médicos y de Enfermería " }, new SelectListItem { Text = "Médicos Pediatras y Terapeutas Respiratorias ", Value = "Médicos Pediatras y Terapeutas Respiratorias " }, new SelectListItem { Text = "Profesionales de Enfermería y Auxiliares de enfermería", Value = "Profesionales de Enfermería y Auxiliares de enfermería" }, new SelectListItem { Text = "Médicos generales y Especialistas no Anestesiólogos ", Value = "Médicos generales y Especialistas no Anestesiólogos " }, new SelectListItem { Text = "Otro", Value = "Otro" } }, new { @class = "form-control" })


                        </div>
                        <label class="col-sm-2 control-label">Otro</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.dirigidoOtro, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.dirigidoOtro)
                            <span class="help-block">Dado el caso que el personal a quien va dirigido no se encuentre en el listado; <p>debe ser ingresado en esta caja de texto.</p></span>
                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-2 control-label">Cupos</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.cupos, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.cupos)

                        </div>
                        <label class="col-sm-2 control-label">Asignados</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.asignados, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.asignados)
                            <span class="help-block">Cupos asignados sólo a esta IPS/ESE</span>
                        </div>

                    </div>



                    <div class="form-group">
                        <label class="col-sm-2 control-label">IPS/ESE</label>
                        <div class="col-sm-6">
                            @Html.DropDownList("IPS_ESEId", null, String.Empty, new { @class = "form-control" })
                        </div>

                        <div class="col-sm-offset-8 btnaa"> 

                            @Html.ActionLink("Regresar ", "Index", new { }, new { @class = "btn btn-default" })
                            <button type="submit" class="btn btn-primary">Guardar</button>

                        </div>
                    </div>

            </div>
        </div>

    </fieldset>

}






<script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#tipo").change(function () {
            $("#nombre").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStatesEdit")', // we are calling json method

                dataType: 'json',

                data: { id: $("#tipo").val() },
                // here we are get value of selected country and passing same value
                //as inputto json method GetStates.

                success: function (states) {
                    // states contains the JSON formatted list
                    // of states passed from the controller

                    $.each(states, function (i, state) {
                        $("#nombre").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                        // here we are adding option for States

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>
