@model IEnumerable<MvcApplication2.Models.Curso>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaContraprestacion/", "Curso")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Educación Continuada<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Crear", "Create/", "Curso")</li>
                            <li>@Html.ActionLink("Ver Listado", "Index/", "Curso")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inducción<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Crear", "Create/", "Induccion")</li>
                            <li>@Html.ActionLink("Ver Listado", "Index/", "Induccion")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inventario<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Crear", "Equipo/", "Equipo")</li>
                            <li>@Html.ActionLink("Ver Listado", "Index/", "Equipo")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Informes<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Educación Continuada", "SeleccionRotacionContraPrestacionC/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inducciones", "SeleccionRotacionContraPrestacionI/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inventario", "SeleccionRotacionContraPrestacionE/", "IPS_ESE")</li>




                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

@using (Html.BeginForm())
{
    <p class="help-block">
        Educación Continuada - Buscar por Nombre:
    </p>
        <div class="col-md-4">
            @Html.TextBox("SearchString", ViewBag.SearchFilter as string, new { @class = "form-control", onclick = "keystroke()", id = "search" })

        </div>
        <div class="col-md-6">
            <input type="submit" class="btn btn-primary" value="Buscar" />
        </div>
}
<table class="table">
    <tr></tr>
    </table>
    <div class="table-responsive">
        <table class="table-bordered table-striped ">
            <tr>
                <th>
                    Tipo
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Perio.
                </th>
                <th>
                    Creado
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>
                <th>
                    Diridido
                </th>
                <th>
                    Cupos
                </th>
                <th>
                    Asignados   
                </th>
                <th>
                    Observación
                </th>
                <th>
                    VP
                </th>
                 <th>
                    %P
                </th>
                <th>
                    VUP
                </th>
                <th>
                    %U
                </th>
                <th>
                    VUU
                </th>
                <th>
                    VTAU
                </th>

                <th>
                    VTAP
                </th>
                <th>
                    TC
                </th>
                <th>
                    VG
                </th>
                <th>
                    EPS/ESE
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.periodoAcademico)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.fechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dirigido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cupos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.asignados)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.observaciones)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valorParticipante)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.porcentajeTotalPersona)  
                          
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valorUnitarioPersona)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.porcentajeTotalUniversidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valorUnitarioUniversidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valorTotalUniversidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valorTotalPersona)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalContraprestacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalCapacitacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IPS_ESE.nombre)
                    </td>
                    <td>

                        @Html.ActionLink("Delete", "Delete", new { id = item.CursoId })
                    </td>
                </tr>
            }

        </table>
    </div>

