@model IEnumerable<MvcApplication2.Models.RotacionEstudiante>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Departamento", "VistaDepartamentoSalud/", "DepartamentoSalud")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hoja de Vida<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Estudiante", "BuscarEnVacuna/", "Estudiante")</li>
                            <li>@Html.ActionLink("Docente", "BuscarEnVacuna/", "Docente")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Listado Hojas de Vida", "HV_IPS_Universitaria/", "HojaVida")</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("Rotación", "SeleccionRotacion/", "Rotacion")</li>
                    <li>@Html.ActionLink("Carta Presentación", "SeleccionRotacionCarta/", "IPS_ESE")</li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<h2> @ViewBag.nombre                                        </h2>

@Html.ActionLink("Regresar", "../Rotacion/SeleccionRotacion")  

<table class="table">
    <tr>
        <th>
          Grupo
        </th>
        <th>
         Horario
        </th>
        <th>
            Fecha Inicio
        </th>
        <th>
            Fecha Terminacion
        </th>
        <th>
           Docente
        </th>
        <th>
          Estudiante
        </th>
        <th>
            IPS
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rotacion.grupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rotacion.fecha_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rotacion.fecha_terminacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Docente.HojaVida.primer_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.HojaVida.primer_nombre)
                @Html.DisplayFor(modelItem => item.Estudiante.HojaVida.primer_apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPS_ESE.nombre)
            </td>
            <td>
                @Html.ActionLink("Seleccionar", "/Edit", new { id = item.rotacionEstudianteId })


            </td>


        </tr>
    }

</table>
