@model MvcApplication2.Models.Docente
<script>
    $(document).ready(function () {
        $("#submitButton").on("click", function () {
            alert('Your Message');
        });

    });

</script>



<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaIPS_Universitaria/", "Vacuna")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hoja de vida<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Estudiante", "BuscarEnVacuna/", "Estudiante")</li>
                            <li>@Html.ActionLink("Docente", "BuscarEnVacuna/", "Docente")</li>

                        </ul>
                    </li>


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

@using (Html.BeginForm("CarnetVacunacionDocenteDS", "Docente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.docenteId)

    <div class="container">
        <div class="row">

            <legend>Información personal docente</legend>

            <!-- /.navbar-collapse aca va leyend -->


            <div class="col-sm-2">
                <img src="@Url.Content(Model.HojaVida.imagen_DI)" alt="..." class="img-rounded" height="200px" width="150px"><br />


            </div>

            <div class="col-sm-9">

                <div class="row">

                    <!-- Text input-->

                    <fosrm class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Documento</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.num_documento, new { @class = "form-control", @readonly = "readonly" })
                                
                            </div>
                            <label class="col-sm-2 control-label">Nombre </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.primer_nombre, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.primer_nombre)
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Primer apellido </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.primer_apellido, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.primer_apellido)
                            </div>

                            <label class="col-sm-2 control-label">Segundo apellido</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.segundo_apellido, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.segundo_apellido)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.correo, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.correo)
                            </div>

                            <label class="col-sm-2 control-label">Teléfono</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.num_celular, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.num_celular)
                            </div>
                        </div>


                        <div class="col-sm-offset-9 col-sm-1">
                            <div class="pull-left">

                                <button type="submit" class="btn btn-primary custom">Registrar vacuna</button>
                            </div>
                        </div>





                </div>
            </div><!-- /.sm8-->

        </div>
    </div>

    <div class=" container col-sm-1">

        <div class="span7">
            <div class="widget stacked widget-table action-table">

                <div class="widget-header">
                    <h4><i class="glyphicon-align-center glyphicon glyphicon-list"></i></h4>
                    <h3>Esquema vacunación</h3>
                </div> <!-- /widget-header -->

                <div class="widget-content">

                    <table class="table table-striped table-bordered ">
                        <thead>
                            <tr>
                                <th>Biológico | Dosis</th>
                                <th>Fecha de Aplicación    </th>
                                <th>Próxima Vacuna</th>
                                <th>Lote</th>
                                <th>Lugar Anatómico</th>
                                <th>Laboratorio</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.HojaVida.Vacunas.Count; i++)
                            {

                                <tr>

                                    <th>@Html.DisplayFor(m => Model.HojaVida.Vacunas.ElementAt(i).nombre_generico)</th>
                                    @if (Model.HojaVida.Vacunas.ElementAt(i).fecha_vacunacion > DateTime.Now.Date.AddMonths(-20))
                                    {
                                        <td>@Html.DisplayFor(m => Model.HojaVida.Vacunas.ElementAt(i).fecha_vacunacion)</td>
                                        <td>@Html.DisplayFor(m => Model.HojaVida.Vacunas.ElementAt(i).fecha_prox_vacunacion)</td>
                                        <td>@Html.DisplayFor(m => Model.HojaVida.Vacunas.ElementAt(i).lote)</td>
                                        <td>@Html.DisplayFor(m => Model.HojaVida.Vacunas.ElementAt(i).lugar_anatomico)</td>
                                        <td>@Html.DisplayFor(m => Model.HojaVida.Vacunas.ElementAt(i).laboratorio_vacunacion)</td>
                                        <td>@Html.DisplayFor(m => Model.HojaVida.Vacunas.ElementAt(i).observaciones)</td>



                                    }
                                    else
                                    {

                                    }





                                </tr>
                            }
                        </tbody>
                    </table>




                </div> <!-- /widget-content -->


            </div> <!-- /widget -->

        </div>

    </div>





    <table>
        <tr>
            <td>


                <div class="col-sm-offset-0">
                    <label class="col-sm-2  control-label"></label>


                </div>
            </td>
        </tr>


    </table>
    <table>
        <tr>
            <td>

                <label class="col-sm-2  control-label"></label>

            </td>
        </tr>
        <tr>
            <br />

        </tr>

        <tr></tr>
    </table>














}




