@model IEnumerable<MvcApplication2.Models.Docente>

@{
    ViewBag.Title = "Index";
}



<h2>Generar Hoja de Vida Docentes</h2>

@using (Html.BeginForm())
{


    <p>
        Buscar por Cedula: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table">
   
    <tr>
       
        <th>
           Num Documento
        </th>
        
       
     
       
        <th>
           Nombres
        </th>
        <th>
          Apellidos
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.hojaVidaId)

            @Html.HiddenFor(modelItem => item.docenteId)
           

         
            <td>
                @Html.DisplayFor(modelItem => item.num_documento)
            </td>
            
           
           
           
        
          
            <td>
                @Html.DisplayFor(modelItem => item.HojaVida.primer_nombre)
                @Html.DisplayFor(modelItem => item.HojaVida.segundo_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HojaVida.primer_apellido)
                @Html.DisplayFor(modelItem => item.HojaVida.segundo_apellido)
            </td>
            <td>
                @Html.ActionLink("Generar", actionName: "ReporteDocenteA",
    controllerName: "Docente",
    routeValues: new
    {
        id = item.docenteId,
        
        
    },
    htmlAttributes: null
)                                 
               
            </td>
        </tr>

    }

</table>
