@{
    ViewBag.Title = "Soportes";
}

@model MvcApplication2.Models.Docente

<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Personales", "InformacionDocenteVista/" + Model.docenteId, "Docente")</li>
                    <li>@Html.ActionLink("Documentos", "SoportesDS/" + Model.docenteId, "Docente")</li>
                    <li>@Html.ActionLink("Vacunación", "CarnetVacunacionDocenteODS/" + Model.docenteId, "Docente")</li>
                    <li>@Html.ActionLink("Reporte", "ReporteDocenteA/" + Model.docenteId, "Docente")</li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
@using (Html.BeginForm("Soportes", "Docente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">


        <div class="row">

            <fieldset>
                

                

                <div class="col-sm-8">

                    <div class="row">
                        <fosrm class="form-horizontal" role="form">

                            <!-- Text input-->
                            <div class="form-group">
                                @Html.HiddenFor(model => model.hojaVidaId)
                                @Html.HiddenFor(model => model.rotacionId)
                                @Html.HiddenFor(model => model.docenteId)
                                @Html.HiddenFor(model => model.DepartamentoSaludId)
                                @Html.HiddenFor(model => model.clave)
                            </div>



                            


                        </fosrm>                            
                                                           

                           


                            


                            


                            


                           







                            




                    </div><!-- /.row -->
                </div>

               


                


               

                


                <legend>Soportes Académicos Docente</legend>

                <div class="col-sm-3">

                </div>

                <div class="col-sm-12">

                    <div class="row">

                        <table class="table table-striped table-hover">

                            <tr>
                                <th>Tipo Documento</th>
                                
                                <th>                Archivo</th>
                            </tr>
                            <tr>
                                <td>Documento de identidad</td>
                               
                                <td>

                                    <img src='~/Uploads/doc_identidad@(Model.num_documento).jpg' alt="..." class="img-rounded" height="170px" width="200px"><br />

                                </td>


                            </tr>

                            <tr>
                                <td>Acta de grado</td>
                                
                                <td>

                                    <img src='~/Uploads/acta_grado@(Model.num_documento).jpg' alt="..." class="img-rounded" height="170px" width="200px"><br />

                                </td>
                            </tr>
                            <tr>
                                <td>Diploma de Profesional</td>
                                
                                <td>

                                    <img src='~/Uploads/dip_prof@(Model.num_documento).jpg' alt="..." class="img-rounded" height="170px" width="200px"><br />

                                </td>
                            </tr>
                            <tr>
                                <td>Diploma de Especialista</td>
                                
                                <td>

                                    <img src='~/Uploads/dip_espe@(Model.num_documento).jpg' alt="..." class="img-rounded" height="170px" width="200px"><br />

                                </td>
                            </tr>
                            <tr>
                                <td>Tp de la Dirección Territorial de Salud</td>
                                
                                <td>

                                    <img src='~/Uploads/tp_terr@(Model.num_documento).jpg' alt="..." class="img-rounded" height="170px" width="200px"><br />

                                </td>
                            </tr>
                            <tr>
                                <td>Tarjeta de profesional Departamental</td>
                                
                                <td>

                                    <img src='~/Uploads/tp_dept@(Model.num_documento).jpg' alt="..." class="img-rounded" height="170px" width="200px"><br />

                                </td>
                            </tr>
                            <tr>
                                <td>Tarjeta de profesional Nacional</td>
                                
                                <td>

                                    <img src='~/Uploads/tp_nal@(Model.num_documento).jpg' alt="..." class="img-rounded" height="170px" width="200px"><br />

                                </td>
                            </tr>

                            <tr>
                                <td>Otro</td>
                                
                                <td>

                                    <img src='~/Uploads/otro@(Model.num_documento).jpg' alt="..." class="img-rounded" height="170px" width="200px"><br />

                                </td>
                            </tr>


                        </table>


                        

                    </div>
                </div>

            </fieldset>
        </div>
    </div>


}

