@{
    ViewBag.Title = "Soportes";
}

@model MvcApplication2.Models.Docente

<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Personales", "Personales/" + Model.docenteId, "Docente")</li>
                    <li>@Html.ActionLink("Documentos", "SoportesCompletos/" + Model.docenteId, "Docente")</li>
                    <li>@Html.ActionLink("Vacunación", "CarnetVacunacionDocente/" + Model.docenteId, "Docente")</li>
                    <li>@Html.ActionLink("Reporte", "ReporteDocenteA/" + Model.docenteId, "Docente")</li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
@using (Html.BeginForm("Soportes", "Docente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">


        <div class="row">

            <fieldset>

                <div class="col-sm-5">

                    <div class="row">
                        <fosrm class="form-horizontal" role="form">

                            <!-- Text class="col-sm-10input-->
                            <div class="form-group">
                                @Html.HiddenFor(model => model.hojaVidaId)
                                @Html.HiddenFor(model => model.rotacionId)
                                @Html.HiddenFor(model => model.docenteId)
                                @Html.HiddenFor(model => model.DepartamentoSaludId)
                                @Html.HiddenFor(model => model.clave)
                            </div>
                        </fosrm>


                    </div><!-- /.row -->
                </div>



                <div class="col-sm-10 col-md-offset-1">

                    <div class="row">
                        <legend>Soporte hoja de vida</legend>
                        <table class="tableSoportes table-striped table-hover">

                            <tr></tr>
                            <tr>
                                <td>
                                    <img src=@ViewBag.imagen1 alt="..." class="img-rounded" width="970"><br />

                                </td>
                            </tr>
                        </table>

                        <div class="form-group">
                        </div>
                        <div class="form-group">
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-4">
                                <div class="pull-right">
                                    @Html.ActionLink("Regresar ", "Personales", new { id = @Model.docenteId }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

            </fieldset>
        </div>
    </div>


}

