
<html>
<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/css")

</head>

<body>



    <div class="row-fluid">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img alt="Vacunas" class="logoUcaldas" src="../../images/Logo Universidad Dorado Grande.png" height="40">
                        </a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand text-uppercase" href="#">Docencia Servicio   </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Quiénes somos </a></li>
                            <li><a href="#"></a></li>

                            <li>

                                <section id="login">
                                    @Html.Partial("_LoginPartial")
                                </section>

                            </li>
                        </ul>
                    </div>

                </div>

            </nav>

        </div>
    </div>











    <div class="span9">

        <div class="row-fluid">

            @RenderSection("featured", required: false)
            @RenderSection("Scripts", required: false)


            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
</body>
</html>