@model MvcApplication2.Models.Induccion

@{
    ViewBag.Title = "Induccion";
}



<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaContraprestacion/", "Curso")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Educación Continuada<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Crear", "Create/", "Curso")</li>
                            <li>@Html.ActionLink("Ver Listado", "Index/", "Curso")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inducción<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Crear", "Create/", "Induccion")</li>
                            <li>@Html.ActionLink("Ver Listado", "Index/", "Induccion")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Equipo<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Crear", "Equipo/", "Equipo")</li>
                            <li>@Html.ActionLink("Ver Listado", "Index/", "Equipo")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Informes<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Educación Continuada", "SeleccionRotacionContraPrestacionC/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inducciones", "SeleccionRotacionContraPrestacionI/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inventario", "SeleccionRotacionContraPrestacionE/", "IPS_ESE")</li>




                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>>

<h2>Crear induccion</h2>


@using (Html.BeginForm("Create", "Induccion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-sm-9 col-md-9">
        <div class="form-group">
            <label class="col-sm-9 control-label">Observaciones</label>
            <div class="col-sm-4">



                @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.observaciones)
            </div>
           
            <div class="form-group">
                <label class="col-sm-9 control-label">Nombre</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.responsable, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.responsable)
                </div>

            </div>

           
        </div>

        <div class="form-group">
            <label class="col-sm-9 control-label">Frecuencia</label>
            <div class="col-sm-4">
                @Html.DropDownList("frecuencia", new List<SelectListItem>() { new SelectListItem { Text = "Semestral", Value = "Semestral" }, new SelectListItem { Text = "Trimestral", Value = "Trimestral" }, new SelectListItem { Text = "Mensual", Value = "Mensual" }, new SelectListItem { Text = "Quincenal", Value = "Quincenal" } })


            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-9 control-label">Responsable</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.responsable, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.responsable)
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-9 control-label">correo</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.correo)
            </div>
            
            <label class="col-sm-10 control-label">Numero de Estudiantes</label>
<div class="col-sm-4">
    @Html.TextBoxFor(model => model.numeroEstudiantes, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.numeroEstudiantes)
</div>
        </div>

        <div class="form-group">
            <label class="col-sm-9 control-label">Valor</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.valor, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.valor)
            </div>

        </div>
        
      
        <div class="form-group">
            <label class="col-sm-9 control-label">IPS</label>
            <div class="col-sm-4">

                @Html.DropDownList("IPS_ESEId", String.Empty)
                @Html.ValidationMessageFor(model => model.IPS_ESEId)


            </div>
            <br>

            <br>
            <br>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <br>

                <br>

                <button type="submit" class="btn btn-primary">Guardar</button>

            </div>
        </div>


    </div>
}