@model MvcApplication2.Models.Induccion

@{
    ViewBag.Title = "Induccion";
}



<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaContraprestacion/", "Curso")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Portafolio de servicios<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Curso")</li>
                            <li>@Html.ActionLink("Crear", "Create/", "Curso")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inducción<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Induccion")</li>
                            <li>@Html.ActionLink("Crear", "Create/", "Induccion")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inventario<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Equipo")</li>
                            <li>@Html.ActionLink("Crear", "Equipo/", "Equipo")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Informes<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Portafolio de servicios </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" @Html.ActionLink("Período académico", "SeleccionRotacionContraPrestacionPeriodoCurso/", "IPS_ESE")</a></li>
                                    <li><a tabindex="-1" @Html.ActionLink("Mes y año", "SeleccionRotacionContraPrestacionC/", "IPS_ESE")</a></li>

                                </ul>
                            </li>
                            <li>@Html.ActionLink("Inducciones", "SeleccionRotacionContraPrestacionI/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inventario", "SeleccionRotacionContraPrestacionE/", "IPS_ESE")</li>



                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    

    <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
            <legend class="text-center">Inducción - Editar registro</legend>
            @Html.HiddenFor(model => model.InduccionId)

            <fosrm class="form-horizontal" role="form">


                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.nombre)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Año</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("año", new List<SelectListItem>() { new SelectListItem { Text = "2015", Value = "2015" }, new SelectListItem { Text = "2016", Value = "2016" }, new SelectListItem { Text = "2017", Value = "2017" } }, new { @class = "form-control" })

                    </div>
                    <label class="col-sm-1 control-label">Período</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("periodo", new List<SelectListItem>() { new SelectListItem { Text = "1", Value = "1" }, new SelectListItem { Text = "2", Value = "2" } }, new { @class = "form-control" })
                    </div>
                </div>




                <div class="form-group">
                    <label class="col-sm-2 control-label">Frecuencia</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("frecuencia", new List<SelectListItem>() { new SelectListItem { Text = "Semestral", Value = "Semestral" }, new SelectListItem { Text = "Trimestral", Value = "Trimestral" }, new SelectListItem { Text = "Mensual", Value = "Mensual" }, new SelectListItem { Text = "Quincenal", Value = "Quincenal" } }, new { @class = "form-control" })
                    </div>
                    <label class="col-sm-1 control-label">Valor</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            @Html.TextBoxFor(model => model.valor, new { @class = "form-control" })
                            
                            <div class="input-group-addon">.00</div>
                        </div>
                        @Html.ValidationMessageFor(model => model.valor)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">n.º Estudiantes</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.numeroEstudiantes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.numeroEstudiantes)
                    </div>
                    <label class="col-sm-1 control-label">IPS/ESE</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("IPS_ESEId", null, String.Empty, new { @class = "form-control" })
                    </div>
                </div>









                <div class="form-group">

                    <label class="col-sm-2 control-label">Observaciones</label>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.observaciones)
                    </div>
                </div>






                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-5">
                        <br>

                        <br>
                        @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                        <input type="submit" class="btn btn-primary" value=" Guardar" />

                    </div>
                </div>

        </div>
    </div>
}
