@model MvcApplication2.Models.Familia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Familia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.primer_nombre_padre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.primer_nombre_padre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.segundo_nombre_padre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.segundo_nombre_padre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.primer_apellido_padre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.primer_apellido_padre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.segundo_apellido_padre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.segundo_apellido_padre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.direccion_padre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion_padre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefono_padre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono_padre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.primer_nombre_madre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.primer_nombre_madre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.segundo_nombre_madre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.segundo_nombre_madre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.primer_apellido_madre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.primer_apellido_madre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.segundo_apellido_madre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.segundo_apellido_madre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.direccion_madre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion_madre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefono_madre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono_madre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.primer_nombre_acudiente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.primer_nombre_acudiente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.segundo_nombre_acudiente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.segundo_nombre_acudiente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.primer_apellido_acudiente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.primer_apellido_acudiente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.segundo_apellido_acudiente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.segundo_apellido_acudiente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.direccion_acudiente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion_acudiente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefono_acudiente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono_acudiente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.celular_acudiente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.celular_acudiente)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.familiaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
