@model MvcApplication2.Models.Equipo

@{
    ViewBag.Title = "Equipo";
}



<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaContraprestacion/", "Curso")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Portafolio de servicios<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Curso")</li>
                            <li>@Html.ActionLink("Crear", "Create/", "Curso")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inducción<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Induccion")</li>
                            <li>@Html.ActionLink("Crear", "Create/", "Induccion")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inventario<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Equipo")</li>
                            <li>@Html.ActionLink("Crear", "Equipo/", "Equipo")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Informes<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Portafolio de servicios </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" @Html.ActionLink("Período académico", "SeleccionRotacionContraPrestacionPeriodoCurso/", "IPS_ESE")</a></li>
                                    <li><a tabindex="-1" @Html.ActionLink("Mes y año", "SeleccionRotacionContraPrestacionC/", "IPS_ESE")</a></li>

                                </ul>
                            </li>
                            <li>@Html.ActionLink("Inducciones", "SeleccionRotacionContraPrestacionI/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inventario", "SeleccionRotacionContraPrestacionE/", "IPS_ESE")</li>



                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


@using (Html.BeginForm("Equipo", "Equipo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
            <legend class="text-center">Inventario - Nuevo registro</legend>


            <fosrm class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Serial</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.serial, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.serial)
                    </div>
                    <label class="col-sm-2 control-label">Fecha entrega</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.fechaPrestamo, new { @class = "form-control" })

                        
                    </div>
                    <div class="col-lg-offset-7">
                        @Html.ValidationMessageFor(model => model.fechaPrestamo)
                        </div>

                    </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.nombre)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(model => model.estado)
                        @Html.DropDownList("estado", new List<SelectListItem>() { new SelectListItem { Text = "Excelente", Value = "Excelente" }, new SelectListItem { Text = "Bueno", Value = "Bueno" }, new SelectListItem { Text = "Regular", Value = "Regular" }, new SelectListItem { Text = "Malo", Value = "Malo" } }, new { @class = "form-control" })

                    </div>
                    <label class="col-sm-1 control-label">Valor</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    @Html.TextBoxFor(model => model.costo, new { @class = "form-control" })
                                    
                                    <div class="input-group-addon">.00</div>
                                </div>
                        @Html.ValidationMessageFor(model => model.costo)
                            
                            </div>
                    </div>
                   

                <div class="form-group">
                    <label class="col-sm-2 control-label">Cantidad</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.cantidad, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cantidad)
                    </div>
                    <label class="col-sm-1 control-label">IPS/ESE</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("IPS_ESEId", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IPS_ESEId)
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Responsable</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.responsable, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.responsable)
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Observaciones</label>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.observaciones)
                    </div>
                </div>







                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-5">
                            <br>

                            <br>
                            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                            <input type="submit" class="btn btn-primary" value=" Guardar" />

                        </div>
                    </div>

                </div>

    </div>
}
