@model IEnumerable<MvcApplication2.Models.Equipo>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaContraprestacion/", "Curso")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Educación Continuada<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Crear", "Create/", "Curso")</li>
                            <li>@Html.ActionLink("Ver Listado", "Index/", "Curso")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inducción<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Crear", "Create/", "Induccion")</li>
                            <li>@Html.ActionLink("Ver Listado", "Index/", "Induccion")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inventario<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Crear", "Equipo/", "Equipo")</li>
                            <li>@Html.ActionLink("Ver Listado", "Index/", "Equipo")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Informes<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Educación Continuada", "SeleccionRotacionContraPrestacionC/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inducciones", "SeleccionRotacionContraPrestacionI/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inventario", "SeleccionRotacionContraPrestacionE/", "IPS_ESE")</li>




                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="ens">
    <p>
        @Html.ActionLink("Crear Nuevo", "Create")
    </p>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="ens">
        <p class=" help-block">
            <table></table>  Inventario - Buscar por Nombre:
        </p>
    </div>

    <div class="col-md-4">
        @Html.TextBox("SearchString", ViewBag.SearchFilter as string, new { @class = "form-control", onclick = "keystroke()", id = "search" })

    </div>
    <div class="col-md-6">
        <input type="submit" class="btn btn-primary" value="Buscar" />
    </div>

}
<div class="span7">
    <div class="widget stacked widget-table action-table">

        <div class="widget-header">
            <h4><i class="glyphicon-align-center glyphicon glyphicon-list"></i></h4>
            <h3>Inventario</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Serial
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Costo
                        </th>
                        <th>
                            Observaciones
                        </th>
                        <th>
                            IPS/ESE
                        </th>

                        <th class="td-actions">Acción</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.serial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.costo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.observaciones)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IPS_ESE.nombre)
                            </td>
                            <td class="td-actions">

                                <a href="javascript:;" class="btn btn-sm btn-default">
                                    <i class="btn-icon-only glyphicon glyphicon-ok"></i>
                                </a>

                                <a href="javascript:;" class="btn btn-sm btn-danger">
                                    <i class="btn-icon-only glyphicon glyphicon-remove"></i>
                                </a>

                                <a href="javascript:;" class="btn btn-sm btn-success">
                                    <i class="btn-icon-only glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div>

