@model IEnumerable<MvcApplication2.Models.Equipo>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaContraprestacion/", "Curso")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Portafolio de servicios<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Curso")</li>
                            <li>@Html.ActionLink("Crear", "Create/", "Curso")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inducción<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Induccion")</li>
                            <li>@Html.ActionLink("Crear", "Create/", "Induccion")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inventario<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Equipo")</li>
                            <li>@Html.ActionLink("Crear", "Equipo/", "Equipo")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Informes<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Portafolio de servicios </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" @Html.ActionLink("Período académico", "SeleccionRotacionContraPrestacionPeriodoCurso/", "IPS_ESE")</a></li>
                                    <li><a tabindex="-1" @Html.ActionLink("Mes y año", "SeleccionRotacionContraPrestacionC/", "IPS_ESE")</a></li>

                                </ul>
                            </li>
                            <li>@Html.ActionLink("Inducciones", "SeleccionRotacionContraPrestacionI/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inventario", "SeleccionRotacionContraPrestacionE/", "IPS_ESE")</li>



                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="ens">
    <p>
        @Html.ActionLink("Crear Nuevo", "Equipo")
    </p>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="ens">
        <p class=" help-block">
            <table></table>  Inventario - Buscar por nombre:
        </p>
    </div>

    <div class="col-md-4">
        @Html.TextBox("SearchString", ViewBag.SearchFilter as string, new { @class = "form-control", onclick = "keystroke()", id = "search" })

    </div>
    <div class="col-md-6">
        <input type="submit" class="btn btn-primary" value="Buscar" />
    </div>

}
<div class="span7">
    <div class="widget stacked widget-table action-table">

        <div class="widget-header">
            <h4><i class="glyphicon-align-center glyphicon glyphicon-list"></i></h4>
            <h3>Inventario</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Serial
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th class="text-center"> 
                            n.º
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Costo
                        </th>
                        <th>
                            Entrega
                        </th>
                        <th>
                            Observaciones
                        </th>
                        <th>
                            IPS/ESE
                        </th>
                        <th>
                            Responsable
                        </th>

                        <th class="td-actions text-center"> Acción</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.serial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.costo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fechaPrestamo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.observaciones)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IPS_ESE.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.responsable)
                            </td>
                            <td class="text-center">
                                @Html.ActionLink(" ", "Delete", new { id = item.equipoId }, new { @class = "btn btn-sm btn-danger btn-icon-only glyphicon glyphicon-remove", title = "Eliminar" })
                                @Html.ActionLink(" ", "Edit", new { id = item.equipoId }, new { @class = "btn btn-sm btn-success btn-icon-only glyphicon glyphicon-pencil", title = "Editar" })


                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div>

