@model MvcApplication2.Models.IPS_ESE
@{
    ViewBag.Title = "Inventario";
}
<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaContraprestacion/", "Curso")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Portafolio de servicios<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Curso")</li>
                            <li>@Html.ActionLink("Crear", "Create/", "Curso")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inducción<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Induccion")</li>
                            <li>@Html.ActionLink("Crear", "Create/", "Induccion")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Inventario<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver listado", "Index/", "Equipo")</li>
                            <li>@Html.ActionLink("Crear", "Equipo/", "Equipo")</li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Informes<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Portafolio de servicios </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" @Html.ActionLink("Período académico", "SeleccionRotacionContraPrestacionPeriodoCurso/", "IPS_ESE")</a></li>
                                    <li><a tabindex="-1" @Html.ActionLink("Mes y año", "SeleccionRotacionContraPrestacionC/", "IPS_ESE")</a></li>

                                </ul>
                            </li>
                            <li>@Html.ActionLink("Inducciones", "SeleccionRotacionContraPrestacionI/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Inventario", "SeleccionRotacionContraPrestacionE/", "IPS_ESE")</li>



                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
        <script>alert("@ViewBag.AlertMessage");</script>

    }

    <div class="container" id="wrap">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <fieldset>

                    <fosrm action="r" method="post" accept-charset="utf-8" class="form" role="form">
                        <legend>Inventario Facultad de Ciencias para la Salud</legend>


                        <h4>Seleccione los campos:</h4>
                        <div class="row">

                            <div class="form-group">
                                <h5><label class="col-sm-2 control-label">IPS/ESE</label></h5>
                                <div class="col-xs-6 col-md-6">

                                    @Html.DropDownList("IPS_ESEId", (IEnumerable<SelectListItem>)ViewBag.IPS_ESEId, new { @class = "form-control input-lg" })



                                </div>
                            </div>
                        </div>

                        <br />
                        <label>Seleccione mes y año:</label>
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <select name="mesId" id="mesId" class="form-control input-lg">
                                    <option value="01">Enero</option>
                                    <option value="02">Febrero</option>
                                    <option value="03">Marzo</option>
                                    <option value="04">Abril</option>
                                    <option value="05">Mayo</option>
                                    <option value="06">Junio</option>
                                    <option value="07">Julio</option>
                                    <option value="08">Agosto</option>
                                    <option value="09">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                    <option value="13">Informe Anual</option>
                                </select>
                            </div>

                            <div class="col-xs-4 col-md-4">
                                <select name="añoId" class="form-control input-lg">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>


                                </select>
                            </div>
                            <br />
                            <br>
                        </div>

                        <span class="help-block">A través de este formulario podrá visualizar el inventario de la Facultad. <p>Puede elegir por mes y año o simplemente por año.</p></span>
                        <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" formtarget="_blank">
                            Ver
                        </button>




                </fieldset>

            </div>




        </div>
    </div>

}





















