@model MvcApplication2.Models.LoginModel




    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    <div class="principalAccount">
        <div class="container">

            <div class="row">

                <div class="col-md-5 col-md-offset-0">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-lock"></span> Login Administrativo
                        </div>
                        <div class="panel-body">

                            <fosrm class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">
                                        Usuario
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Username" })
                                        @Html.ValidationMessageFor(model => model.UserName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-3 control-label">
                                        Contraseña
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                                        @Html.ValidationMessageFor(model => model.Password)

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" />
                                                Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group last">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-success btn-sm">
                                            Sign in
                                        </button>
                                        <button type="reset" class="btn btn-default btn-sm">
                                            Reset
                                        </button>
                                    </div>
                                </div>

                        </div>
                        <div class="panel-footer">
                            Not Registred? <a href="http://www.jquery2dotnet.com">Register here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    }



