@{
    ViewBag.Title = "VistaHV";
}


<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Docencia Servicio", "VistaODS", "Rotacion")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hoja de Vida<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Estudiante", "Buscar/", "Estudiante")</li>
                            <li>@Html.ActionLink("Docente", "Buscar/", "Docente")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Listado Hojas de Vida", "VistaHV", "HojaVida")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Contraprestación<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Inventario Equipos", "SeleccionRotacionContraPrestacionE/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Informe Capacitacioness", "SeleccionRotacionContraPrestacionC/", "IPS_ESE")</li>
                            <li>@Html.ActionLink("Informe Inducciones", "SeleccionRotacionContraPrestacionI/", "IPS_ESE")</li>
                            <li class="divider"></li>
                            <li><a href="http://cvirtual.campusvirtualudecaldas.edu.co/moodle/login/index.php">Administrar Inducción</a></li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Crear Curso/Inducción/Inventario", "Create/", "Curso")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Documentos<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://localhost:8888/OpenKM/frontend/index.jsp">Administrar</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Rotación<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Rotación", "Create/", "Rotacion")</li>
                            <li>@Html.ActionLink("Carta Presentación", "ConsultaRotacion/", "Rotacion")</li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>



<legend>Hojas de Vida</legend>

<br>

<div class="container">

    <div class="alert alert-info">
        @Html.ActionLink("Revisar", "Index", 1, new { @class = "btn btn-xs btn-primary pull-right" }) 
 <strong>Medicina:</strong> Hojas de vida completas.
    </div>

   

    <div class="alert alert-info">
        @Html.ActionLink("Revisar", "Index", 2, new { @class = "btn btn-xs btn-primary pull-right" })
        
        <strong>Docentes:</strong> Hojas de vida actualizadas.
    </div>

    @*<div class="alert alert-warning">
        <a href="#" class="btn btn-xs btn-warning pull-right">Revisar</a>
        <strong>Warning:</strong> you should do an action.
    </div>*@

    <div class="alert alert-danger">
        @Html.ActionLink("Revisar", "Index", 3, new { @class = "btn btn-xs btn-primary pull-right" })
        
        <strong>Medicina:</strong> Hojas de vida incompleta.
    </div>

    <div class="alert alert-danger">
        @Html.ActionLink("Revisar", "Index", 4, new { @class = "btn btn-xs btn-primary pull-right" })     <strong>Enfermería:</strong> Hojas de vida incompleta.
    </div>
    <div class="alert alert-danger">
        @Html.ActionLink("Revisar", "Index", 5, new { @class = "btn btn-xs btn-primary pull-right" })
        
        <strong>Docentes:</strong> Hojas de vida incompleta.
    </div>

</div>